*{
    margin: 0;
}
body{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}
.main-header{
    background-image: url('/IMG/Rectangle 64.png');
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    background-size: 100% 100%;
    height: 100vh;
    justify-content: space-between;
}
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}
.header a{
    margin-right: 20px;
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    flex-wrap: wrap;
}
.main p{
    font-size: 28px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: solid;
    text-align: center;
    padding: 20px 0px 20px 0px;
}
.main a{
    text-decoration: none;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    z-index: 1;
    text-transform: uppercase;
}
.main div{
    display: flex;
    align-items: center;
}
.nashi{
    background-color: #DB3138;
    width: 100px;
    height: 40px;
    position: relative;
    left: 90px;
}
.main h1{
    padding-bottom: 20px;
    color: #DB3138;
    font-size: 60px;
}
.main2{
 display: flex;
 border-top: 1px solid white;
 justify-content: space-evenly;
 align-items: center;
 flex-wrap: wrap;
 text-align: center;
}
.main2 div:nth-child(2){
    border-right: 1px solid white;
    border-left: 1px solid white;
    padding: 40px 150px 40px 150px;
}
.main2 p{
    padding: 5px;
    text-transform: uppercase;
    font-size: 14px;
}
.main2 p:nth-child(2){
    color: #DB3138;
}
.main2 p:nth-child(3){
    color: #DB3138;
}
.section1{
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 150px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.section-part-1{
    width: 50%;
}
.section-part-1 p{
 width: 80%;
}
.section-part-1 img{
    margin: 50px 0px 50px 0px;
}
.section-part-1 h1{
   text-transform: uppercase;
   font-size: 28px;    
}
.section-part-2{
    display: flex;
    text-align: center;
  
   
}
.section-part-2 div div{
    border: 1px solid #898989;
}
.table1 tr td{
    border: 1px solid #898989;
    padding: 20px;
   
}
.table1{
    border-collapse: collapse;
    text-align: center;
    margin-bottom: 30px;
}
.table2 tr td{
    border-top: 1px solid #898989;
    border-bottom: 1px solid #898989;
    border-right: 1px solid #898989;
    padding: 20px;
   
}
.table2{
    text-align: center;
    border-collapse: collapse;
    margin-top: 30px;
    
}
.main-table{
    display: flex;
   text-transform: uppercase;
   width: 50%;
   
}
.table2 tr td p:nth-child(even){
    font-size: 12px;
}
.table1 tr td p:nth-child(even){
    font-size: 12px;
}
.table2 tr td p:nth-child(odd){
    color: #DB3138;
    margin-bottom: 8px;
}
.table1 tr td p:nth-child(odd){
  color: #DB3138;
  margin-bottom: 8px;
}
.table2 tr td p span{
    font-size: 35px;
}
.table1 tr td p span{
 font-size: 35px;
}
.section2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 90%;
    margin: auto;
    margin-top: 150px;
    flex-wrap: wrap;
}
.section2 div div{
    background-color: #DB3138;
    width: 240px;
    height: 50px;
    margin: auto;
    position: relative;
    bottom: 25px;
}
.section2 div p{
    position: relative;
    bottom: 60px;
}

.section3{
    display: flex;
    width: 85%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap ;
   margin-top: 100px;
}
.g2{
   justify-content: center;
}
.section3 div:first-child div{
    display: flex;
    align-items: center;
    font-size: 11px;
    text-transform: uppercase;
    margin-bottom: 25px;
    margin-top: 25px;
}
.section3 div:first-child div img{
    margin-right: 30px;
}
.car{
 width: 100%;
}
.section3 div:last-child{
    width: 40%;
}
.section3 div:last-child div{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    font-size: 13px;
    margin-top: 10px;
}
.section3 div:last-child div img{
    width: 50px;
    height: 50px;
}
.section4{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    
}
.section4 div{
    display: flex ;
    justify-content: space-between;
  
   
}
.section4 div a:nth-child(1){
    text-decoration: none;
  
    background-color: #DB3138;
    color: white;
    padding: 15px;
    margin-right: 50px;
}
.section4 div a:nth-child(2){
    padding: 15px;
    color: white;
    text-decoration: none;
}
.section4 img{
    margin: 40px 0px 40px 0px;
}
.section5{
    display: flex;
    
    justify-content: space-around;
    margin-top: 100px;
   
}
.section5 div{
    display: flex;
   align-items: center;
   justify-content: center;
    flex-direction: column;
    width: 19%;
    text-align: center;
    
    
}
.sec5{
border: 1px solid #898989;
 padding: 50px 20px;
}
.section5 div p{
    margin: 10px 0px 30px 0px;
}
.section5 div div{
    width: 100%;
    flex-direction: row;
    justify-content: center;
}
.section5 div div a{
    text-decoration: none;
    color: white;
    z-index: 1;
    right: 20px;
    position: relative;
}
.section5 div div div:nth-child(1){
    background-color: #DB3138;
    width: 60px;
    height: 40px;
   position: relative;
   left: 20px;
   z-index: 0;
}

.section6{
  display: flex;
   justify-content: space-around;
   margin-top: 200px;
   
}
.g0{
    width: 50%;
}
.section6 div:nth-child(2){
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 40%;
}

.section6 div:nth-child(1) div{
    flex-direction: row;
   margin-top: 10px;
   justify-content: space-between;
   gap: 20px;
  width: 100%;
}
.section6 div:nth-child(1) div img{
    width: 50px;
}
.g1{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    width: 100%;
   
}
.part-section7{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    font-size: 35px;
    line-height: 100px;
    margin-bottom: 50px;
}
.section7{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.section7 img{
    width: 16.5%;
}

.section8{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
.section8 h1{
    text-transform: uppercase;
    font-size: 26px;
}
.section8 input:nth-child(1){
    border: 1px solid #DB3138;
    
}
.section8 input{
    background-color: transparent;
    outline: none;
    color: white;
    border: 1px solid  #141414;
   padding: 10px;
}
.section8 div{
   
    display: flex;
    text-decoration:none;
    justify-content: space-between;
    flex-wrap: wrap;
}

::placeholder{
    color: #898989;
}
.section8 textarea{
    background-color: transparent;
    outline: none;
    color: white;
}
.sec8-1{
    width: 30%;
    margin-top: 20px;
}
.sec8-2{
    margin-top: 20px;
   margin-bottom: 20px;
   width: 30%;
}
.sec8-2 div{
    display: flex;
    flex-direction: column;
   justify-content: space-between;
 width: 45px;
}

.sec8-3-4{
 display: flex;
 flex-direction: column;
}
.sec8-3-4-4{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.sec8-3 p{
    margin-left: 10px;
    font-size: 12px;
}
.sec8-3 img{
    width: 15px;
}
.sec8-3{
    width: 30%;
    align-items: center;
}
.sec8-3-3{
    align-items: center;
}
.sec8-3 div:first-child a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    position: relative;
    right: 45px;
}
.sec8-3 div:first-child div{
    background-color: #DB3138;
    width: 70px;
    height: 40px;
}
@media(max-width:768px){
    .header a{
        font-size: 8px;
    }
    .section6{
        
        flex-wrap: wrap;
    }
    .section6 div:nth-child(2) div{
        margin: 10px 0px 10px 0px;
    }
    .section6 div:nth-child(1){
        width: 70%;
        margin-bottom: 50px;
    }
    .section6 div:nth-child(2){
        width: 70%;
        font-size: 10px;
        
    }
    .section6 div:nth-child(2) img{
        width: 40px;
    }
    .header a img{
        width: 20px;
    }
    .section5{
        flex-wrap: wrap;
        
    }
    .section5 div{
        width: 70%;
        margin-bottom: 50px;
    }
    .section5 div div a{
        bottom: 24px;
    }
    .main h1{
        font-size:20px ;
    }
    .main img{
        width: 60px;
    }
    .main a{
        font-size: 8px;
    }
    .main div div{
        width: 50px;
        height: 20px;
       left: 40px;
    }
    .main p{
        font-size: 10px;
    }
    .section-part-1 h1{
        font-size: 20px;
    }
    .section-part-1 p{
        font-size: 12px;
    }
    .section1{
        margin-top: 100vh;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .section-part-1{
      display: flex;
      flex-direction: column;
      align-items: center; 
      
    }
    .section1 div:first-child{
        margin-bottom: 50px;
    }
    .main2{
        border-top: none;
        align-items: center;
    }
    .section2{
        flex-direction: column;
    }
  
}
@media(max-width:500px){
    .section1{
        margin-top: 200vh;
        font-size: 10px;
    }
    .section3 div p{
        font-size: 10px;
    }
}
@media(max-width:1306px){
    .section3 div{
        margin: auto;
    }
    .section3 div:last-child{
        width: 95%;
    }
    .section3 div:first-child{
        margin-bottom: 50px;
    }
    .section3 div:first-child{
        font-size: 15px;
    }
    .section6 div{
        font-size: 9px;
    }
    .section6 div:nth-child(1) div img{
        width: 30px;
    }
    .g1 img{
     width: 50px;
    }
    .g2 img{
        width: 70px;
    }
}